

<!-- Featured Products -->
<div class="container ">
    <h1 class="text-center ">{{proHeading}}</h1>
    <div class="row">
    
        <!-- <app-product><img [src]="imgurl[0]" class="img" alt=""></app-product> -->
        <!-- Product 2 -->
        <!-- <app-product><img [src]="imgurl[1]" class="img" alt=""></app-product> -->
        <!-- Product 3 -->
        <!-- <app-product><img [src]="imgurl[2]" class="img" alt=""></app-product> -->
        <!-- Product 4 -->
        <!-- <app-product><img [src]="imgurl[3]" class="img" alt=""></app-product> -->
        <app-product1><img [src]="imgurl[0]" class="img" alt=""></app-product1>
        <app-product2><img [src]="imgurl[1]" class="img" alt=""></app-product2>
        <app-product3><img [src]="imgurl[2]" class="img" alt=""></app-product3>
        <app-product4><img [src]="imgurl[3]" class="img" alt=""></app-product4>
        
    </div>
    <!-- <app-child-comp [childText]="mytext"></app-child-comp> -->
    
</div><!-- /.container -->